.banner-img {
  height: auto;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-out;
}

.banner-img-0,
.banner-img-2,
.banner-img-5,
.banner-img-6,
.banner-img-7 {
  width: 150px;
}

.banner-img-0,
.banner-img-1,
.banner-img-3,
.banner-img-4,
.banner-img-6,
.banner-img-7,
.banner-img-8,
.banner-img-9,
.banner-img-13,
.banner-img-14 {
  display: none;
}

.banner-img-2 {
  top: -5%;
  left: 30%;
}

.banner-img-5 {
  bottom: 15%;
  left: 3%;
}

.banner-img-10 {
  bottom: 9%;
  right: 3%;
}
.banner-img-11 {
  top: 24%;
  left: -6%;
}
.banner-img-12 {
  top: 3%;
  right: -19%;
}

/* Анімація для зображень (опціонально) */
.absolute {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 480px) {
  .banner-img-2 {
    top: -5%;
    left: 46%;
  }
  .banner-img-7 {
    display: block;
    bottom: -3%;
    right: 43%;
  }
  .banner-img-10 {
    bottom: 16%;
    right: 3%;
  }
  .banner-img-11 {
    top: 16%;
    left: 7%;
  }
  .banner-img-12 {
    top: 11%;
    right: -8%;
  }
}

@media (min-width: 640px) {
  .banner-img-2 {
    left: 50%;
  }
  .banner-img-10 {
    bottom: 11%;
    right: 5%;
  }
}

@media (min-width: 768px) {
  .banner-img-1 {
    display: block;
    top: 12%;
    left: 25%;
  }
  .banner-img-2 {
    top: 5%;
    left: 54%;
  }
  .banner-img-4 {
    display: block;
    top: 38%;
    left: 5%;
  }
  .banner-img-5 {
    bottom: 4%;
    left: 3%;
  }
  .banner-img-9 {
    display: block;
    top: 34%;
    right: 3%;
  }
  .banner-img-11 {
    top: 9%;
    left: -9%;
  }
  .banner-img-12 {
    top: -15%;
    right: -8%;
  }
}
@media (min-width: 1024px) {
  .banner-img-0 {
    display: block;
    top: -10%;
    left: 10%;
  }
  .banner-img-3 {
    display: block;
    top: 1%;
    right: 16%;
  }
  .banner-img-6 {
    display: block;
    bottom: -2%;
    left: 24%;
  }
  .banner-img-8 {
    display: block;
    bottom: 15%;
    right: 20%;
  }
  .banner-img-10 {
    bottom: -3%;
    right: -2%;
  }
  .banner-img-13 {
    display: block;
    top: -19%;
    left: 35%;
  }
  .banner-img-14 {
    display: block;
    bottom: 35%;
    left: 30%;
  }
}
